<html xmlns:th = "http://www.thymeleaf.org">
<footer th:fragment="footerFragment" class = "container-fluid d-flex h-100 flex-column">
    <div class="row-1">
       <div class="info" style = "margin: 0px;">
       <h9 class="overskrift1">Madspild.DK</h9>
        <p> Lygten 37</p>
        <p>2400 København N</p>
        <p>CVR 192033</p>
       </div>
        <div class = "pics">
        <img th:src="@{/image/FB.png/}" style="width: 50px; height: 50px; margin: 65px; margin-left: 8px;">
        <img th:src="@{/image/Insta.png/}" style="width: 40px; height: 40px; margin: -68px;">
        <img th:src="@{/image/mail.png}" style="width: 35px; height: 30px; margin: 74px;">
        <img th:src="@{/image/phone.png/}" style="width: 50px; height: 35px; margin: -76px;">
    </div>
    </div>
</footer>